# --- Generated outputs ---
output/

!output/*.pdf

# --- Python ---
__pycache__/
*.pyc
*.pyo
*.pyd

# --- Virtual environment ---
.venv/

# --- OS / editor ---
.DS_Store
*.swp
*.swo
.Rhistory

# --- Excel temp / backup ---
~$*.xls*


data/
!data/example_trading_log.xlsm
!data/Today's Price - 2025-12-25.csv

